.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    width: 100%;

    .board {
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-gap: 5px;
        padding: 10px;
        box-sizing: border-box;
        height: 80%;
        width: calc(calc(100vh - 200px - 50px) * 5 / 6);

        .row {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 5px;

            .tile {
                background-color: #ffffff;
                border: 2px solid #878a8c;
                color: #1a1a1b;
            }
        }
    }
}
